
#timeline-svg {
    $gray: rgba(200, 200, 200, 0.9);
    $fade-duration: 0.3s;
    $dark-gray: rgb(115, 115, 115);

    .notch {
        fill: black;
    }

    .period-frame {
        fill: rgb(229, 229, 229);
    }

    .period-name-frame {
        fill: rgb(191, 191, 191);
    }

    .event-line {
        transition: fill 0.1s linear;
        fill: $gray;
    }

    .event-label {
        animation: fadeIn 1.2s;
        transition: fill $fade-duration linear;
    }

    .period-frame, .period-name, .period-name-frame {
        transition: fill linear $fade-duration;
    }

    .event-box {
        transition-property: fill, width, opacity;
        transition-timing-function: linear, cubic-bezier(0.55, 0, 1, 0.45), linear;
        transition-duration: $fade-duration, 0.4s, $fade-duration;
        fill: $gray;
        filter: drop-shadow(3px 3px 2px black);
    }

    .event-group {
        transition-property: opacity;
        transition-timing-function: linear;
        transition-duration: $fade-duration;
    }

    .event-group:hover {
        .event-line, .event-box {
            fill: $dark-gray;
        }

        & ~ .event-group {
            opacity: 0;
        }

        .event-label {
            fill: beige;
        }
    }

    .period-group:hover {
        .period-name {
            fill: beige;
        }

        .period-name-frame {
            fill: $dark-gray;
        }

        .period-frame {
            fill: lighten($dark-gray, 10%);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
