
#timeline-svg {
    $gray: rgba(200, 200, 200, 0.9);
    $theme-color: #3b9eac;
    $fade-duration: 0.3s;
    $dark-gray: rgb(115, 115, 115);
    font-family: Helvetica;
    $light-font-color: beige;

    ::selection {
        fill: $theme-color;
    }

    .temporal-line-background {
        transition: fill $fade-duration linear;
        fill: lighten($theme-color, 40%);

        &:hover {
            fill: lighten($theme-color, 20%);
        }
    }

    .notch {
        fill: black;
    }

    .period-frame {
        fill: lighten($theme-color, 30%);
        opacity: 0.5;
    }

    .period-name-frame {
        fill: lighten($theme-color, 20%);
        opacity: 0.5;
    }

    .event-line {
        transition: fill $fade-duration linear;
        fill: lighten($theme-color, 10%);
    }

    .event-label {
        animation: fadeIn 1.2s;
        transition: fill $fade-duration linear;
    }

    .period-name {
        transition: fill linear $fade-duration;
    }

    .period-frame, .period-name-frame {
        transition-property: fill width;
        transition-timing-function: linear;
        transition-duration: $fade-duration, calc($fade-duration / 2);
    }

    .event-box {
        transition-property: fill, width, opacity;
        transition-timing-function: linear, cubic-bezier(0.55, 0, 1, 0.45), linear;
        transition-duration: $fade-duration, 0.4s, $fade-duration;
        fill: $theme-color;
        filter: drop-shadow(3px 3px 2px black);
    }

    .event-group {
        transition-property: opacity;
        transition-timing-function: linear;
        transition-duration: $fade-duration;
    }

    .event-group:hover {
        .event-line, .event-box {
            fill: $dark-gray;
        }

        .event-label {
            fill: beige;
        }
    }

    .period-group:hover {
        .period-name {
            fill: beige;
        }

        .period-name-frame {
            fill: darken($theme-color, 20%);
        }

        .period-frame {
            fill: darken($theme-color, 10%);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
